language: objective-c
osx_image: xcode9.3
#xcode_sdk: iphonesimulator11.3
#xcode_project: LoopKit.xcodeproj
xcode_scheme:
    - LoopKit
    - LoopKitUI
script:
   - xcodebuild -project LoopKit.xcodeproj -scheme LoopKit build -destination 'name=iPhone X' test
   - xcodebuild -project LoopKit.xcodeproj -scheme "LoopKit Example" build -destination 'name=iPhone X'
